{% extends "/customer/base.html" %}

{% block title %} Create Order {% endblock %}

<!-- Specific Page CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="https://cdn.jsdelivr.net/npm/ol@v8.1.0/dist/ol.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v8.1.0/ol.css">
<!-- <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js'></script> -->

<style>
    img.huechange { filter: hue-rotate(120deg); }
</style>
{% endblock stylesheets %}

{% block content %}

<main>
    <section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
        <div class="container">
            <div class="row justify-content-center form-bg-image" data-background-lg="/static/assets/img/illustrations/bs5-illustrations.svg">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                        <div class="text-center text-md-center mb-4 mt-md-0">
                            <h1 class="mb-0 h3">
                                Create Order
                            </h1>
                            <br />
                            <p>
                                Fill in the details below to create a new order.
                            </p>
                        </div>
                        <form method="post" action="" class="needs-validation  mb-5 border-top" novalidate onsubmit="return validation()"  class="mt-4">
                            <div class="row">
                                <!-- Left Column for Sender Information -->
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="sender_name" class="form-label">Sender Name</label>
                                        <input type="text" class="form-control" id="sender_name" name="sender_name" placeholder="Sender Name" value="{{customer.username}}" onchange="validateField(this)" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="sender_address" class="form-label">Sender Address</label>
                                        <input type="text" class="form-control" id="sender_address" name="sender_address" placeholder="Sender Address" value="{{customer.address}}"  onchange="validateField(this)"  required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="sender_contact" class="form-label">Sender Contact</label>
                                        <input type="text" class="form-control" id="sender_contact" name="sender_contact" placeholder="Sender Contact" value="{{ customer.phone}}" maxlength="10" oninput="validateField(this);"  required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="package_weight" class="form-label">Package Weight (in kg)</label>
                                        <input type="text" class="form-control" id="package_weight" name="package_weight" placeholder="Package Weight" min="0" max="100" onchange="validateField(this)" equired>
                                    </div>
                                </div>
                        
                                <!-- Right Column for Recipient Details -->
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="recipient_name" class="form-label">Recipient Name</label>
                                        <input type="text" class="form-control" id="recipient_name" name="recipient_name" placeholder="Recipient Name" onchange="validateField(this)" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="recipient_address" class="form-label">Recipient Address</label>
                                        <input type="text" class="form-control" id="recipient_address" name="recipient_address" placeholder="Recipient Address"  onchange="validateField(this)" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="recipient_contact" class="form-label">Recipient Contact</label>
                                        <input type="numeric" class="form-control" id="recipient_contact" name="recipient_contact" placeholder="Recipient Contact" maxlength="10" oninput="validateField(this)" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="pickup_date" class="form-label">Pickup Date</label>
                                        <input data-datepicker="" type="text" class="form-control" id="pickup_date" name="pickup_date"  placeholder="dd/mm/yyyy"  onclick="validateDate();" required>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="delivery_preference" class="form-label">Delivery Preference</label>
                                    <select class="form-select" id="delivery_preference" name="delivery_preference"  onchange="validateField(this)" required>
                                        <option value="Express">Express</option>
                                        <option value="Standard">Standard</option>
                                        <option value="Economy">Economy</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="package_weight" class="form-label">Package Details</label>
                                    <input type="text" class="form-control" id="package_details" name="package_details" placeholder="Package Details"  onchange="validateField(this)" required>
                                </div>
                            </div>
                        
                            <div class="mb-3">
                                <label for="additional_notes" class="form-label">Additional Notes</label>
                                <textarea class="form-control" id="additional_notes" name="additional_notes" rows="4" placeholder="Additional Notes"  onchange="validateField(this)" ></textarea>
                            </div>
                            <label class="form-label">Deliver Latitude</label>
                            <input type="text" id="latitude" name="latitude" placeholder="latitude" readonly>
                            <label class="form-label">Deliver Longitude</label>
                            <input type="text" id="longitude" name="longitude" placeholder="longitude" readonly>
                            <a href="#" class="btn btn-info btn-primary"  data-bs-toggle="modal" data-bs-target="#mapModal">Mark Order Location</a>

                            <div class="d-grid">
                                <button type="submit" name="login" class="btn btn-gray-800">Order</button>
                            </div>

                        </form>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Map Modal -->
<div class="modal fade" id="mapModal" tabindex="-1" aria-labelledby="mapModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mapModalLabel">Mark Delivery Location</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="map" style="height: 400px;"  class="mb-3"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE -->
{% block javascripts %}

<script>
    var datepickers = [].slice.call(document.querySelectorAll('[data-datepicker]'))
    var datepickersList = datepickers.map(function (el) {
    return new Datepicker(el, {
        buttonClass: 'btn'
    });
});
</script>
<script>
    // Initialize the map
    var map = L.map('map').setView([0, 0], 13);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
    }).addTo(map);

    let marker = null;
    map.on('click', (event)=> {

        if(marker !== null){
            map.removeLayer(marker);
        }

        marker = L.marker([event.latlng.lat , event.latlng.lng]).addTo(map);
        marker._icon.classList.add("huechange");

        document.getElementById('latitude').value = event.latlng.lat;
        document.getElementById('longitude').value = event.latlng.lng;
        
    })
    // route is ol.geom.LineString
var route = new ol.format.Polyline({
    factor: 1e6
}).readGeometry(polyline, {
    dataProjection: 'EPSG:4326',
    featureProjection: 'EPSG:3857'
});
var feature = new ol.Feature(route);
feature.setStyle(styles.route);
vectorSource.addFeature(feature);
    // Function to update the marker's location
    function updateLocation() {
        console.log("Updating location..."); // Debugging statement
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
            console.log("Location updated."); // Debugging statement
        } else { 
            console.log("Geolocation is not supported by this browser.");
        }
        function showPosition(position) {
            var latitude = position.coords.latitude;
            var longitude = position.coords.longitude;

            // Update the hidden input fields with latitude and longitude values
            document.getElementById("latitude").value = latitude;
            document.getElementById("longitude").value = longitude;
            var newLatLng = L.latLng(position.coords.latitude,position.coords.longitude); // Example coordinates (latitude, longitude)
            map.setView(newLatLng, 19);
            L.marker(newLatLng).addTo(map);
        }
    }
    var currentLocationMarker;
    updateLocation();
</script>
<script>
    function validateDate(){
    document.getElementById("pickup_date").classList.add("is-valid");
    document.getElementById("pickup_date").classList.remove("is-invalid");
    }
  function validateField(field) {
  // Get the field value
  var value = field.value;

  // Perform validation based on the field ID
  switch (field.id) {
    case "sender_name":
      // Validate sender name
      if (value.length < 3) {
        document.getElementById("sender_name").classList.add("is-invalid");
        document.getElementById("sender_name").classList.remove("is-valid");
      }
      else {
        document.getElementById("sender_name").classList.add("is-valid");
        document.getElementById("sender_name").classList.remove("is-invalid");
      }
      break;
    case "sender_address":
      // Validate sender address
      if (value.length < 10) {
        document.getElementById("sender_address").classList.add("is-invalid");
        document.getElementById("sender_address").classList.remove("is-valid");
      }
      else {
        document.getElementById("sender_address").classList.add("is-valid");
        document.getElementById("sender_address").classList.remove("is-invalid");
      }
      break;
    case "sender_contact":
        var sender_contact = document.getElementById("sender_contact").value;
        if (/^(\d+,)*(\d+)$/.test(sender_contact) != true){
            document.getElementById("sender_contact").classList.add("is-invalid");
            document.getElementById("sender_contact").classList.remove("is-valid");
            document.getElementById("sender_contact").value = "";
        }
        if ((sender_contact[0] == '6' || sender_contact[0] == '7' || sender_contact[0]  == '8'|| sender_contact[0] == '9')){
            var regex = /^\d{10}$/;
            if (!regex.test(sender_contact)) {
                document.getElementById("sender_contact").classList.add("is-invalid");
                document.getElementById("sender_contact").classList.remove("is-valid");
            } else {
                document.getElementById("sender_contact").classList.add("is-valid");
                document.getElementById("sender_contact").classList.remove("is-invalid");
            }
        } else {
            document.getElementById("sender_contact").classList.add("is-invalid");
            document.getElementById("sender_contact").classList.remove("is-valid");
        }
      break;
      
    case "package_weight":
      // Validate package weight
      if (value < 0 || value > 100) {
        document.getElementById("package_weight").classList.add("is-invalid");
        document.getElementById("package_weight").classList.remove("is-valid");
      }
      else {
        document.getElementById("package_weight").classList.add("is-valid");
        document.getElementById("package_weight").classList.remove("is-invalid");
      }
      break;
    case "recipient_name":
      // Validate recipient name
      if (value.length < 3) {
        document.getElementById("recipient_name").classList.add("is-invalid");
        document.getElementById("recipient_name").classList.remove("is-valid");
      }
      else {
        document.getElementById("recipient_name").classList.add("is-valid");
        document.getElementById("recipient_name").classList.remove("is-invalid");
      }
      break;
    case "recipient_address":
      // Validate recipient address
      if (value.length < 10) {
        document.getElementById("recipient_address").classList.add("is-invalid");
        document.getElementById("recipient_address").classList.remove("is-valid");
      }
      else {
        document.getElementById("recipient_address").classList.add("is-valid");
        document.getElementById("recipient_address").classList.remove("is-invalid");
      }
      break;
    case "recipient_contact":
      // Validate recipient contact
      var recipient_contact = document.getElementById("recipient_contact").value;
        if (/^(\d+,)*(\d+)$/.test(recipient_contact) != true){
            document.getElementById("recipient_contact").classList.add("is-invalid");
            document.getElementById("recipient_contact").classList.remove("is-valid");
            document.getElementById("recipient_contact").value = "";
        }
        if ((recipient_contact[0] == '6' || recipient_contact[0] == '7' || recipient_contact[0]  == '8'|| recipient_contact[0] == '9')){
            var regex = /^\d{10}$/;
            if (!regex.test(recipient_contact)) {
                document.getElementById("recipient_contact").classList.add("is-invalid");
                document.getElementById("recipient_contact").classList.remove("is-valid");
            } else {
                document.getElementById("recipient_contact").classList.add("is-valid");
                document.getElementById("recipient_contact").classList.remove("is-invalid");
            }
        }
        else {
            document.getElementById("recipient_contact").classList.add("is-invalid");
            document.getElementById("recipient_contact").classList.remove("is-valid");
        }
    case "package_details":
      if (value.length < 5) {
        document.getElementById("package_details").classList.add("is-invalid");
        document.getElementById("package_details").classList.remove("is-valid");
      }
      else{
        document.getElementById("package_details").classList.add("is-valid");
        document.getElementById("package_details").classList.remove("is-invalid");
      }
    case "delivery_preference":
        if (value.length < 5) {
            document.getElementById("delivery_preference").classList.add("is-invalid");
            document.getElementById("delivery_preference").classList.remove("is-valid");
        }
        else{
            document.getElementById("delivery_preference").classList.add("is-valid");
            document.getElementById("delivery_preference").classList.remove("is-invalid");
        }
    }
    };
</script>
<script>
    function validation() {
        const senderName = document.getElementById("sender_name").value;
        const senderAddress = document.getElementById("sender_address").value;
        const senderContact = document.getElementById("sender_contact").value;
        const packageWeight = document.getElementById("package_weight").value;
        const recipientName = document.getElementById("recipient_name").value;
        const recipientAddress = document.getElementById("recipient_address").value;
        const recipientContact = document.getElementById("recipient_contact").value;
        const pickupDate = document.getElementById("pickup_date").value;
        const packageDetails = document.getElementById("package_details").value;
        const deliveryPreference = document.getElementById("delivery_preference").value;

        if (!senderName || !senderAddress || !senderContact || !packageWeight || !recipientName || !recipientAddress || !recipientContact || !pickupDate || !packageDetails || !deliveryPreference) {
            event.preventDefault(); // Prevent form submission
            if (!senderName) {
                document.getElementById("sender_name").classList.add("is-invalid");
            }
            if (!senderAddress) {
                document.getElementById("sender_address").classList.add("is-invalid");
            }
            if (!senderContact) {
                document.getElementById("sender_contact").classList.add("is-invalid");
            }
            if (!packageWeight) {
                document.getElementById("package_weight").classList.add("is-invalid");
            }
            if (!recipientName) {
                document.getElementById("recipient_name").classList.add("is-invalid");
            }
            if (!recipientAddress) {
                document.getElementById("recipient_address").classList.add("is-invalid");
            }
            if (!recipientContact) {
                document.getElementById("recipient_contact").classList.add("is-invalid");
            }
            if (!pickupDate) {
                document.getElementById("pickup_date").classList.add("is-invalid");
            }
            if (!packageDetails) {
                document.getElementById("package_details").classList.add("is-invalid");
            }
            if (!deliveryPreference) {
                document.getElementById("delivery_preference").classList.add("is-invalid");
            }
        }
        if (senderName || senderAddress || senderContact || packageWeight || recipientName || recipientAddress || recipientContact || pickupDate || packageDetails || deliveryPreference) {
            if (senderName) {
                document.getElementById("sender_name").classList.add("is-valid");
            }
            if (senderAddress) {
                document.getElementById("sender_address").classList.add("is-valid");
            }
            if (senderContact) {
                document.getElementById("sender_contact").classList.add("is-valid");
            }
            if (packageWeight) {
                document.getElementById("package_weight").classList.add("is-valid");
            }
            if (recipientName) {
                document.getElementById("recipient_name").classList.add("is-valid");
            }
            if (recipientAddress) {
                document.getElementById("recipient_address").classList.add("is-valid");
            }
            if (recipientContact) {
                document.getElementById("recipient_contact").classList.add("is-valid");
            }
            if (pickupDate) {
                document.getElementById("pickup_date").classList.add("is-valid");
            }
            if (packageDetails) {
                document.getElementById("package_details").classList.add("is-valid");
            }
            if (deliveryPreference) {
                document.getElementById("delivery_preference").classList.add("is-valid");
            }

            if (senderName == "" || senderAddress == "" || senderContact == "" || recipientName == "" || recipientAddress == "" || recipientContact == "" || pickupDate == "" || packageDetails == "" || deliveryPreference == "") {
                alert("Please fill in all fields.");
                return false;
            }
            return true;
        }
    };
</script>
{% endblock javascripts %}
