{% extends "/courier/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE -->
{% block stylesheets %}
<script src="@@path/vendor/chartist/dist/chartist.min.js"></script>
<script src="@@path/vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
<script src="
https://cdn.jsdelivr.net/npm/svgmap@2.10.1/dist/svgMap.min.js
"></script>
<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


{% endblock stylesheets %}

{% block content %}
<!-- Modal Content -->
<div class="modal fade in" id="modal-notification" data-toggle="modal-notification" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
    <div class="modal-dialog modal-info modal-dialog-centered" role="document" >
        <div class="modal-content bg-gradient-secondary" style="background-color: #f0bc74;">
            <div class="modal-header">
                <p class="modal-title fw-bolder" id="modal-title-notification">Notification!</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="py-3 text-center">
                    <span class="modal-icon display-1-lg"><span class="far fa-envelope-open"></span></span>
                    <h2 class="h4 modal-title my-3">Update!</h2>
                    <p>You have been assigned to a new delivery</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-white" onclick="location.href = '/dashboard/assigned_deliveries';">View Order</button>
            </div>
        </div>
    </div>
</div>
<!-- Add more code for other statistics here -->
<div class="row">

    <div class="col-12 col-sm-6 col-xl-4 mb-4">
        <div class="card border-0 shadow">
            <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                    <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                        <div class="icon-shape icon-shape-primary rounded me-4 me-sm-0">
                            <svg class="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z">
                                </path>
                            </svg>
                        </div>
                        <div class="d-sm-none">
                            <h2 class="h5">Total Orders Delivered</h2>
                            <h3 class="fw-extrabold mb-1">{{ no_orders_delivered }}</h3>
                        </div>
                    </div>
                    <div class="col-12 col-xl-7 px-xl-0">
                        <div class="d-none d-sm-block">
                            <h2 class="h6 text-gray-400 mb-0">Total Oders Delivered</h2>
                            <h3 class="fw-extrabold mb-2">{{ no_orders_delivered }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Total Customers -->
<div class="col-12 col-sm-6 col-xl-4 mb-4">
    <div class="card border-0 shadow">
        <div class="card-body">
            <div class="row d-block d-xl-flex align-items-center">
                <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                    <div class="icon-shape icon-shape-secondary rounded me-4 me-sm-0">
                        <svg class="icon" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M10 2a4 4 0 00-4 4v1H5a1 1 0 00-.994.89l-1 9A1 1 0 004 18h12a1 1 0 00.994-1.11l-1-9A1 1 0 0015 7h-1V6a4 4 0 00-4-4zm2 5V6a2 2 0 10-4 0v1h4zm-6 3a1 1 0 112 0 1 1 0 01-2 0zm7-1a1 1 0 100 2 1 1 0 000-2z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <div class="d-sm-none">
                        <h2 class="fw-extrabold h5">Total Orders Assigned</h2>
                        <h3 class="mb-1">{{ no_orders_assigned }}</h3>
                    </div>
                </div>
                <div class="col-12 col-xl-7 px-xl-0">
                    <div class="d-none d-sm-block">
                        <h2 class="h6 text-gray-400 mb-0">Total Orders Assigned</h2>
                        <h3 class="fw-extrabold mb-2">{{ no_orders_assigned }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Total Orders -->
<div class="col-12 col-sm-6 col-xl-4 mb-4">
    <div class="card border-0 shadow">
        <div class="card-body">
            <div class="row d-block d-xl-flex align-items-center">
                <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                    <div class="icon-shape icon-shape-tertiary rounded me-4 me-sm-0">
                        <svg class="icon" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M3 3a1 1 0 000 2v8a2 2 0 002 2h2.586l-1.293 1.293a1 1 0 101.414 1.414L10 15.414l2.293 2.293a1 1 0 001.414-1.414L12.414 15H15a2 2 0 002-2V5a1 1 0 100-2H3zm11.707 4.707a1 1 0 00-1.414-1.414L10 9.586 8.707 8.293a1 1 0 00-1.414 0l-2 2a1 1 0 101.414 1.414L8 10.414l1.293 1.293a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <div class="d-sm-none">
                        <h2 class="fw-extrabold h5">Total Orders In Transit</h2>
                        <h3 class="mb-1">{{ no_orders_in_transit }}</h3>
                    </div>
                </div>
                <div class="col-12 col-xl-7 px-xl-0">
                    <div class="d-none d-sm-block">
                        <h2 class="h6 text-gray-400 mb-0">Total Orders In Transit</h2>
                        <h3 class="fw-extrabold mb-2">{{ no_orders_in_transit }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</div>
<div class="card col-sm-10 mb-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="line-chart-filled"  style="height: 450px; width: auto;"></div>
            </div>
            <div class="col-sm-4 ">
                <div id="visualization"></div>
            </div>
        </div>
    </div>
</div>
<div class="card col-sm-12 mb-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                        <tr>
                            <th class="border-bottom" scope="col">Order ID</th>
                            <th class="border-bottom" scope="col">Avg. Delivery Time</th>
                            <th class="border-bottom" scope="col">Ratings</th>
                            <th class="border-bottom" scope="col">FeedBack</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th class="text-gray-900" scope="row">
                                ASkywWyeahTOlT0uWbIs
                            </th>
                            <td class="fw-bolder text-gray-500">
                                2 days
                            </td>
                            <td class="fw-bolder text-gray-500">
                                89
                            </td>
                            <td class="fw-bolder text-gray-500">
                                <div class="d-flex">
                                    Good!
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-gray-900" scope="row">
                                fKpdKA7TFQgIJXqCRWjR
                            </th>
                            <td class="fw-bolder text-gray-500">
                                4 days 3 hours
                            </td>
                            <td class="fw-bolder text-gray-500">
                                78
                            </td>
                            <td class="fw-bolder text-gray-500">
                                <div class="d-flex">
                                    Fast Delivery
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-gray-900" scope="row">
                                uigqYtxKDzmiieVroFwq
                            </th>
                            <td class="fw-bolder text-gray-500">
                                2 days 5 hours
                            </td>
                            <td class="fw-bolder text-gray-500">
                           74
                            </td>
                            <td class="fw-bolder text-gray-500">
                                <div class="d-flex">
                                    Great!
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-gray-900" scope="row">
                                vDQCtNqZkrttJ11ZMPHx
                            </th>
                            <td class="fw-bolder text-gray-500">
                                3 days 2 hours
                            </td>
                            <td class="fw-bolder text-gray-500">
                                69
                            </td>
                            <td class="fw-bolder text-gray-500">
                                <div class="d-flex">
                                    Good.
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-gray-900" scope="row">
                                xj4MIHEfsewrKI5CS5yE
                            </th>
                            <td class="fw-bolder text-gray-500">
                                1 day 1 hour
                            </td>
                            <td class="fw-bolder text-gray-500">
                                64
                            </td>
                            <td class="fw-bolder text-gray-500">
                                <div class="d-flex">
                                   Thank You
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div class="col-sm-4 ">
                <div class="bar-chart" style="height: 350px; width: auto;"></div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    // Add your JavaScript code here
    new Chartist.Line('.line-chart-filled', {
  labels: [1, 2, 3, 4, 5, 6, 7, 8],
  series: [
    [5, 9, 7, 8, 5, 3, 5, 4]
  ]
}, {
  low: 0,
  showArea: true
});

new Chartist.Bar('.bar-chart', {
    labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
    series: [
        [5, 4, 3, 7, 5, 10, 3],
        [3, 2, 9, 5, 4, 6, 4]
    ]
    }, {
    low: 0,
    showArea: true,
    plugins: [
        Chartist.plugins.tooltip()
    ],
    axisX: {
        // On the x-axis start means top and end means bottom
        position: 'end'
    },
    axisY: {
        // On the y-axis start means left and end means right
        showGrid: false,
        showLabel: false,
        offset: 0
    }
});
</script>
<script>
google.load('visualization', '1', {'packages': ['geochart']});
google.setOnLoadCallback(drawVisualization);

function drawVisualization() {
  var data = google.visualization.arrayToDataTable([
        ['State Code', 'State', 'Deliveries'],     
          [ 'IN-UP','Uttar Pradesh', 33],
    ['IN-MH','Maharashtra', 32],
    ['IN-BR','Bihar', 31],
    ['IN-WB','West Bengal', 32],
    ['IN-MP','Madhya Pradesh', 30],
    ['IN-TN','Tamil Nadu', 33],
    ['IN-RJ','Rajasthan', 33],
    ['IN-KA','Karnataka', 29],
    ['IN-GJ','Gujarat', 34],
    ['IN-AP','Andhra Pradesh', 32],
    ['IN-OR','Orissa', 33],
    ['IN-TG','Telangana', 33],
    ['IN-KL','Kerala', 31],
    ['IN-JH','Jharkhand', 29],
    ['IN-AS','Assam', 28],
    ['IN-PB','Punjab', 30],
    ['IN-CT','Chhattisgarh', 33],
    ['IN-HR','Haryana', 30],
    ['IN-JK','Jammu and Kashmir', 20],
    ['IN-UT','Uttarakhand', 28],
    ['IN-HP','Himachal Pradesh', 17],
    ['IN-TR','Tripura', 31],
    ['IN-ML','Meghalaya', 21],
    ['IN-MN','Manipur', 22],
    ['IN-NL','Nagaland', 22],
    ['IN-GA','Goa', 32],
    ['IN-AR', 'Arunachal Pradesh', 33],
    ['IN-MZ','Mizoram', 23],
    ['IN-SK','Sikkim', 24],
    ['IN-DL','Delhi', 31],
    ['IN-PY','Puducherry', 33],
    ['IN-CH','Chandigarh', 30],
    ['IN-AN','Andaman and Nicobar Islands', 4],
    ['IN-DN','Dadra and Nagar Haveli', 30],
    ['IN-DD','Daman and Diu', 29],
    ['IN-LD','Lakshadweep', 2]
  ]);

      var opts = {
        region: 'IN',
        domain:'IN',
        displayMode: 'regions',
        colorAxis: {colors: ['#31316A', '#31316A', '#f0bc74']},
        resolution: 'provinces',
        // backgroundColor: '#81d4fa',
        // datalessRegionColor: '#81d4fa',
        defaultColor: '#f5f5f5',
        width: 640, 
        height: 480
      };
      var geochart = new google.visualization.GeoChart(
          document.getElementById('visualization'));
      geochart.draw(data, opts);
    };

</script>
<script>$('#modal-notification').modal('toggle')</script>

{% endblock javascripts %}
