{% extends "layouts/base-fullscreen.html" %}

{% block title %} Sign IN {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js'></script>
{% endblock stylesheets %}

{% block content %}

    <main>
        <section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
            <div class="container">

                <div class="row justify-content-center form-bg-image" data-background-lg="/static/assets/img/illustrations/signin.svg">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">
                                    Sign IN
                                </h1>
                                <br />
                                <p>
                                
                                </p> 
                            </div>
                            <form method="post" action="" id="loginForm" class="needs-validation  mb-5 border-top" novalidate  onsubmit="return validation()" class="mt-4">
                                
                                <!-- Form -->
                                <div class="form-group mb-4">
                                    <label for="email">Username</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1">
                                            <span class="fas fa-user-circle"></span>
                                        </span>
                                        <input type="username"  class="form-control" id="username" name="username" onchange="validateUsername();"  required>
                                        <div class="invalid-feedback" id="usernameError">Username is required.</div>
                                    </div>  
                                </div>
                                <!-- End of Form -->
                                <div class="form-group">
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        <label for="password">Your Password</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon2">
                                                <span class="fas fa-unlock-alt"></span>
                                            </span>
                                            <input type="password" class="form-control"  id="password" name="password" onchange="validatePassword();" required>
                                        <div class="invalid-feedback" id="usernameError">Password is required.</div>
                                            
                                        </div>  
                                    </div>
                                    <div class="form-group ">
                                        <label class="my-1 me-2" for="country">Role</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon1">
                                                <span class="fas fa-user-circle"></span>
                                            </span>
                                            <select class="form-select" name="role" id="role">
                                                <option value="customer">Customer</option>
                                                <option value="courier">Courier</option>
                                                <option value="admin">Admin</option>
                                                <option value="manager">Manager</option>
                                            </select>

                                        </div>  
                                    </div>
                                <br>
                                    <!-- End of Form -->
                                    <div class="d-flex justify-content-between align-items-top mb-4">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="remember">
                                            <label class="form-check-label mb-0" for="remember">
                                              Remember me
                                            </label>
                                        </div>
                                        <div><a href="/forgot_password" class="small text-right">Lost password?</a></div>
                                    </div>
                                </div>
                                <div class="d-grid">
                                    <button type="submit" name="submit" class="btn btn-gray-800">Sign IN</button>
                                </div>
                            </form>
                            <br />

                            <div class="d-flex justify-content-center align-items-center mt-4">
                                <span class="fw-normal">
                                    Not registered?
                                    <a href="/register" class="fw-bold">Create account</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
        function validateUsername() {
    var username = document.getElementById("username").value;
    if (username.length < 4) {
        document.getElementById("username").classList.add("is-invalid");
        document.getElementById("username").classList.remove("is-valid");
        document.getElementById("usernameError").innerHTML = "Please enter a valid username.";
    } else {
        document.getElementById("username").classList.add("is-valid");
        document.getElementById("username").classList.remove("is-invalid");
    }
};
    document.getElementById("loginForm").addEventListener("submit", function(event) {
        const username = document.getElementById("username").value;
        const password = document.getElementById("password").value;

        if (!username || !password) {
            alert("Please fill in all required fields.");
            event.preventDefault(); // Prevent form submission
        }
    });

    function validatePassword() {
    var password = document.getElementById("password").value;
    if (password.length < 4) {
        document.getElementById("password").classList.add("is-invalid");
        document.getElementById("password").classList.remove("is-valid");
        document.getElementById("passwordError").innerHTML = "Please enter a valid password.";
    } else {
        document.getElementById("password").classList.add("is-valid");
        document.getElementById("password").classList.remove("is-invalid");
    }
};
</script>
<script>
        function validation() {
        const name = document.getElementById("username").value;
        const password = document.getElementById("password").value;

        if (!name || !password) {
            event.preventDefault(); // Prevent form submission
            if (!name) {
                document.getElementById("username").classList.add("is-invalid");
            }
            if (!password) {
                document.getElementById("password").classList.add("is-invalid");
            }
        }
        if (name || password) {
            if (name) {
                document.getElementById("username").classList.add("is-valid");
            }

            if (password) {
                document.getElementById("validationPassword").classList.add("is-valid");
            }
            if (name == "" || password == "") {
                alert("Please fill in all fields and agree to the terms and conditions.");
                return false;
            }
            return true;

        }
    };
</script>
{% endblock javascripts %}
