{% extends "layouts/base.html" %}

{% block title %} Settings {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

            <div class="row">
                <div class="col-4 mb-4">
                    <div class="card shadow border-0 text-center p-0">
                        <div class="profile-cover rounded-top"></div>
                        <div class="card-body pb-5">
                            <img src="/static/assets/img/team/profile-picture-6.jpg" class="avatar-xl rounded-circle mx-auto mt-n7 mb-4" alt="Neil Portrait">
                            <h4 class="h3">
                                Neil Sims
                            </h4>
                            <h5 class="fw-normal">
                                testing
                            </h5>
                            <p class="text-gray mb-4">
                                test@gmail.com
                            </p>
                            <a class="btn btn-sm btn-gray-800 d-inline-flex align-items-center me-2" href="#">
                                
                                Report
                            </a>
                            <a class="btn btn-sm btn-secondary" href="#">Message</a>
                        </div>
                      </div>
                </div>
                <div class="col-4 mb-4">
                    <div class="card shadow border-0 text-center p-0">
                        <div class="profile-cover rounded-top" data-background="/static/assets/img/profile-cover.jpg"></div>
                        <div class="card-body pb-5">
                            <img src="/static/assets/img/team/profile-picture-1.jpg" class="avatar-xl rounded-circle mx-auto mt-n7 mb-4" alt="Neil Portrait">
                            <h4 class="h3">
                                Neil Sims
                            </h4>
                            <h5 class="fw-normal">
                                testing
                            </h5>
                            <p class="text-gray mb-4">
                                test@gmail.com
                            </p>
                            <a class="btn btn-sm btn-gray-800 d-inline-flex align-items-center me-2" href="#">
                                
                                Report
                            </a>
                            <a class="btn btn-sm btn-secondary" href="#">Message</a>
                        </div>
                      </div>
                </div>
                <div class="col-4 mb-4">
                    <div class="card shadow border-0 text-center p-0">
                        <div class="profile-cover rounded-top" data-background="/static/assets/img/profile-cover.jpg"></div>
                        <div class="card-body pb-5">
                            <img src="/static/assets/img/team/profile-picture-1.jpg" class="avatar-xl rounded-circle mx-auto mt-n7 mb-4" alt="Neil Portrait">
                            <h4 class="h3">
                                Neil Sims
                            </h4>
                            <h5 class="fw-normal">
                                testing
                            </h5>
                            <p class="text-gray mb-4">
                                test@gmail.com
                            </p>
                            <a class="btn btn-sm btn-gray-800 d-inline-flex align-items-center me-2" href="#">
                                
                                Report
                            </a>
                            <a class="btn btn-sm btn-secondary" href="#">Message</a>
                        </div>
                      </div>
                </div>

        <div class="col-3 mb-1">
            <div class="card shadow border-0 text-center p-0">
                <div class="profile-cover rounded-top" data-background="/static/assets/img/profile-cover.jpg"></div>
                <div class="card-body pb-5">
                    <img src="/static/assets/img/team/profile-picture-1.jpg" class="avatar-xl rounded-circle mx-auto mt-n7 mb-4" alt="Neil Portrait">
                    <h4 class="h3">
                        Neil Sims
                    </h4>
                    <h5 class="fw-normal">
                        testing
                    </h5>
                    <p class="text-gray mb-4">
                        test@gmail.com
                    </p>
                    <a class="btn btn-sm btn-gray-800 d-inline-flex align-items-center me-2" href="#">
                        
                        Report
                    </a>
                    <a class="btn btn-sm btn-secondary" href="#">Message</a>
                </div>
              </div>
        </div>
        <div class="col-3 mb-1">
            <div class="card shadow border-0 text-center p-0">
                <div class="profile-cover rounded-top" data-background="/static/assets/img/profile-cover.jpg"></div>
                <div class="card-body pb-5">
                    <img src="/static/assets/img/team/profile-picture-1.jpg" class="avatar-xl rounded-circle mx-auto mt-n7 mb-4" alt="Neil Portrait">
                    <h4 class="h3">
                        Neil Sims
                    </h4>
                    <h5 class="fw-normal">
                        testing
                    </h5>
                    <p class="text-gray mb-4">
                        test@gmail.com
                    </p>
                    <a class="btn btn-sm btn-gray-800 d-inline-flex align-items-center me-2" href="#">
                        
                        Report
                    </a>
                    <a class="btn btn-sm btn-secondary" href="#">Message</a>
                </div>
              </div>
        </div>
        <div class="col-3 mb-1">
            <div class="card shadow border-0 text-center p-0">
                <div class="profile-cover rounded-top" data-background="/static/assets/img/profile-cover.jpg"></div>
                <div class="card-body pb-5">
                    <img src="/static/assets/img/team/profile-picture-1.jpg" class="avatar-xl rounded-circle mx-auto mt-n7 mb-4" alt="Neil Portrait">
                    <h4 class="h3">
                        Neil Sims
                    </h4>
                    <h5 class="fw-normal">
                        testing
                    </h5>
                    <p class="text-gray mb-4">
                        test@gmail.com
                    </p>
                    <a class="btn btn-sm btn-gray-800 d-inline-flex align-items-center me-2" href="#">
                        
                        Report
                    </a>
                    <a class="btn btn-sm btn-secondary" href="#">Message</a>
                </div>
              </div>
        </div>
        </div>
            
            </div>

        </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
