{% extends "layouts/base-fullscreen.html" %}

{% block title %} Sign UP {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>

body {
        margin: 0;
      }

      .sb-title {
        position: relative;
        top: -12px;
        font-family: Roboto, sans-serif;
        font-weight: 500;
      }

      .sb-title-icon {
        position: relative;
        top: -5px;
      }

      .card-container {
        display: flex;
        height: 500px;
        width: 600px;
      }

      .panel {
        background: white;
        width: 300px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }

      .half-input-container {
        display: flex;
        justify-content: space-between;
      }

      .half-input {
        max-width: 120px;
      }

      /* .map {
        width: 150px;
      } */

      h2 {
        margin: 0;
        font-family: Roboto, sans-serif;
      }

      input {
        height: 30px;
      }

      input {
        border: 0;
        border-bottom: 1px solid black;
        font-size: 14px;
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: normal;
      }

      input:focus::placeholder {
        color: white;
      }

      .button-cta {
        align-self: start;
        background-color: #1976d2;
        border: 0;
        border-radius: 21px;
        color: white;
        cursor: pointer;
        font-family: "Google Sans Text", sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 27px;
        padding: 3.5px 10.5px;
      }
   
</style>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Google+Sans+Text:500&amp;lang=en">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js'></script>
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js'></script>
<!-- <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css'> -->


{% endblock stylesheets %}

{% block content %}

    <main>
        <section class="vh-lg-80 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
            <div class="container">
                <p class="text-center">

                </p>
                <div class="row justify-content-center form-bg-image" data-background-lg="/static/assets/img/illustrations/signin.svg">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">
                                    Sign Up
                                </h1>
                                <br/>
                            </div>
                            <form method="post" id="registerForm" class="needs-validation  mb-5 border-top" novalidate action="#" method="#" action="/register" onsubmit="return validation()" class="mt-4">
                                <div class="form-group mb-4">
                                    <label for="username">Username</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1">
                                            <span class="fas fa-user-circle"></span>
                                        </span>
                                        <input type="text" class="form-control" id="username" name="username" onchange="validateUsername();" required>
                                        <div class="invalid-feedback" id="usernameError">Username is required.</div>
                                    </div>
                                </div>
                                
                                <div class="form-group mb-4">
                                    <label for="email">Email</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="16" height="16"  viewBox="0 0 256 256" xml:space="preserve">


                                                <defs>
                                                </defs>
                                                <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)" >
                                                    <path d="M 80.89 78.772 H 9.11 c -5.023 0 -9.11 -4.087 -9.11 -9.11 V 20.338 c 0 -5.023 4.087 -9.11 9.11 -9.11 h 71.78 c 5.023 0 9.11 4.087 9.11 9.11 v 49.324 C 90 74.686 85.913 78.772 80.89 78.772 z M 9.11 17.228 c -1.715 0 -3.11 1.396 -3.11 3.11 v 49.324 c 0 1.715 1.395 3.11 3.11 3.11 h 71.78 c 1.715 0 3.11 -1.396 3.11 -3.11 V 20.338 c 0 -1.715 -1.396 -3.11 -3.11 -3.11 H 9.11 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                                                    <path d="M 45 55.427 c -5.408 0 -10.599 -2.292 -14.242 -6.288 L 2.493 18.125 l 4.435 -4.042 l 28.265 31.013 c 2.545 2.792 6.028 4.331 9.807 4.331 c 3.779 0 7.262 -1.538 9.808 -4.331 l 28.266 -31.013 l 4.434 4.042 L 59.241 49.138 C 55.599 53.135 50.408 55.427 45 55.427 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                                                    <rect x="-0.96" y="57.16" rx="0" ry="0" width="38.98" height="6" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(0.7053 -0.7089 0.7089 0.7053 -37.1881 30.8639) "/>
                                                    <rect x="68.47" y="40.67" rx="0" ry="0" width="6" height="38.98" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(0.709 -0.7053 0.7053 0.709 -21.628 67.9146) "/>
                                                </g>
                                                </svg>
                                        </span>
                                        <input type="email" class="form-control" id="email" name="email" onchange="validateEmail()" required pattern="[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}">
                                        <div class="invalid-feedback">Please enter a valid email address.</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col">
                                        <label for="validationPassword">Password</label>
                                        <div  class="progress" style="height: 5px;">
                                            <div id="progressbar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 10%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
      
                                            </div></div>
                                          <div class="input-group">
                                            <span class="input-group-text" id="basic-addon1">
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="16" height="16" viewBox="0 0 256 256" xml:space="preserve">
        
                                                    <defs>
                                                    </defs>
                                                    <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)" >
                                                        <path d="M 40.167 49.204 c -13.565 0 -24.602 -11.037 -24.602 -24.602 S 26.601 0 40.167 0 c 13.566 0 24.602 11.037 24.602 24.602 S 53.732 49.204 40.167 49.204 z M 40.167 6 c -10.257 0 -18.602 8.345 -18.602 18.602 s 8.345 18.602 18.602 18.602 s 18.602 -8.345 18.602 -18.602 S 50.424 6 40.167 6 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                                                        <path d="M 46.435 90 H 9.092 c -1.657 0 -3 -1.343 -3 -3 v -9.722 c 0 -18.789 15.286 -34.074 34.074 -34.074 c 4.781 0 9.406 0.971 13.747 2.888 c 1.516 0.669 2.202 2.439 1.532 3.956 c -0.669 1.515 -2.437 2.201 -3.956 1.532 c -3.571 -1.576 -7.381 -2.376 -11.323 -2.376 c -15.48 0 -28.074 12.594 -28.074 28.074 V 84 h 34.342 c 1.657 0 3 1.343 3 3 S 48.092 90 46.435 90 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                                                        <path d="M 76.678 67.535 c -1.657 0 -3 -1.343 -3 -3 v -6.199 c 0 -2.907 -2.365 -5.272 -5.271 -5.272 h -1.482 c -2.906 0 -5.271 2.365 -5.271 5.272 v 6.199 c 0 1.657 -1.343 3 -3 3 s -3 -1.343 -3 -3 v -6.199 c 0 -6.216 5.057 -11.272 11.271 -11.272 h 1.482 c 6.215 0 11.271 5.057 11.271 11.272 v 6.199 C 79.678 66.192 78.335 67.535 76.678 67.535 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                                                        <path d="M 79.656 64.535 H 55.675 c -1.668 0 -3.021 1.352 -3.021 3.021 v 19.423 c 0 1.668 1.352 3.021 3.021 3.021 h 23.981 c 1.668 0 3.021 -1.352 3.021 -3.021 V 67.556 C 82.676 65.888 81.324 64.535 79.656 64.535 z M 70.665 78.581 c 0 1.657 -1.343 3 -3 3 s -3 -1.343 -3 -3 v -1.809 c 0 -1.657 1.343 -3 3 -3 s 3 1.343 3 3 V 78.581 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                                                    </g>
                                                    </svg>   
                                            </span>
                                            </span>
                                          <input type="password" class="form-control" id="validationPassword" minlength="8" maxlength="20" name="password" placeholder="Password" value="" required>
                                          <i id="togglePassword" class="fa fa-eye input-group-text"></i>
                                          <script>
                                            const togglePassword = document.querySelector('#togglePassword');
                                            const password = document.querySelector('#validationPassword');
                                          
                                            togglePassword.addEventListener('click', function (e) {
                                              // toggle the type attribute
                                              const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
                                              password.setAttribute('type', type);
                                              // toggle the eye slash icon
                                              this.classList.toggle('fa-eye-slash');
                                            });
                                          </script>
                                          <small id="passwordHelpBlock" class="form-text text-muted">
                                            Your password must be minimum 8 & maximum 20 charachers long,  must contain special characters "!@#$%&*_?", numbers, lower and upper letters only.
                                </small>
                        
                                        <div id="feedbackin" class="valid-feedback">
                                            Strong Password!
                                        </div>
                                        <div id="feedbackirn" class="invalid-feedback">
                                            Atleast 8 characters,
                                            Number, special character 
                                            Caplital Letter and Small letters
                                        </div>                    
                                        </div>  
                                        </div>
                                        
                                                  
                                    <div class="form-group ">
                                        <label class="my-1 me-2" for="role">Role</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon1">
                                                <span class="fas fa-user-circle"></span>
                                            </span>
                                            <select class="form-select" name="role" id="role">
                                                <option value="customer">Customer</option>
                                                <option value="courier">Courier</option>
                                                <option value="manager">Manager</option>
                                            </select>

                                        </div>  

                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <div class="form-group mb-4">
                                            <label for="streetAddress">Address Line 1</label>
                                            <input type="text" class="form-control" id="location-input" name="streetAddress" onchange="validateStreetAddress();" required>
                                        </div>
                                        <div class="form-group mb-4">
                                            <label for="streetAddress">Address Line 2</label>
                                            <input type="text" class="form-control" placeholder="Apt No., Suite, etc" name="line2address" id="line2address" oninput="autocompleteline2();" onchange="validateLine2Address();" required/>
                                        </div>
                                        <script>
                                            // Initialize the Places Autocomplete
                                            function autocompleteline2() {
                                                var line2addressInput = document.getElementById('line2address');
                                                var state = document.getElementById('administrative_area_level_1-input');
                                                var city = document.getElementById('locality-input');
                                                var autocomplete = new google.maps.places.Autocomplete(line2addressInput, {
                                                    componentRestrictions: { country: 'IN'} // Restrict to India
                                                });
                                            };
                                        </script>
                                        <div class="row">
                                            <div class="form-group mb-4">
                                                <label for="country">Country</label>
                                                <select id="country" name="country" class='form-control' oninput="validateCountry();">
                                                    <option value="">-- Country --</option>
                                                </select>
                                                 <!-- <input type="text" placeholder="Country" name="country" class="form-control" id="country-input"/> -->
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group mb-4">
                                                    <label for="state">State</label>
                                                    <select id="state" name="state" class='form-control' onchange="validateState();">
                                                        <option value="">-- State --</option>
                                                    </select>
                                                    <!-- <input type="text" class="half-input form-control" placeholder="State" id="administrative_area_level_1-input"  name="state" oninput="validateState();" required/> -->
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group mb-4">
                                                    <label for="city">City</label>
                                                    <!-- <select id="city" name="city" class='form-control' onchange="validateCity();">
                                                        <option value="">-- City --</option>
                                                    </select> -->
                                                    <input type="text" placeholder="City" name="city" class="form-control" id="locality-input" oninput="validateCity();" required/>

                                                </div>
                                            </div>
                                           
                                           
                                            <div class="form-group mb-4">
                                                <label for="postalCode">Postal Code</label>
                                                <input type="text" class="form-control" id="postalCode" name="postalCode" onchange="validatePostalCode();" maxlength="6" required>
                                                <div class="invalid-feedback" id="postalCodeError">Postal Code is Required.</div>
                                            </div>
                                        </div>
                                    </div>
                                        <div class="map" id="gmp-map"></div>
                                      <script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&libraries=places,marker&callback=initMap&solution_channel=GMP_QB_addressselection_v2_cABC" async defer></script>                                  
                                    <div class="form-group mb-4">
                                        <label for="phone">Phone Number</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fas fa-phone"> + 91 </i>
                                            </span>
                                        <input type="numeric" class="form-control" id="phone" name="phone" oninput="validatePhone();" maxlength="10" required>
                                        </div>
                                        <div class="invalid-feedback" id="phoneError">Phone Number is Required.</div>
                                    </div>
                                    <!-- End of Form -->
                                    <div class="mb-4">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="terms" required>
                                            <label class="form-check-label fw-normal mb-0" for="terms">
                                                I agree to the <a href="#" class="fw-bold">terms and conditions</a>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-grid">
                                    <button type="submit" name="submit" onsubmit="validation();" class="btn btn-gray-800">Sign UP</button>
                                </div>
                            </form>
                            <div class="d-flex justify-content-center align-items-center mt-4">
                                <span class="fw-normal">
                                    Already have an account? 
                                    <a href="/login" class="fw-bold">Sign IN</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- Add this script to the end of your HTML body -->
<script>
    "use strict";

    const CONFIGURATION = {
      "ctaTitle": "Confirm address",
      "mapOptions": {"center":{"lat":37.4221,"lng":-122.0841},"fullscreenControl":false,"mapTypeControl":false,"streetViewControl":false,"zoom":15,"zoomControl":true,"maxZoom":22,"mapId":""},
      "mapsApiKey": "(( GOOGLE_MAPS_API_KEY ))",
      "capabilities": {"addressAutocompleteControl":true,"mapDisplayControl":true,"ctaControl":true}
    };

    const SHORT_NAME_ADDRESS_COMPONENT_TYPES =
        new Set(['street_number', 'administrative_area_level_1', 'postal_code']);

    const ADDRESS_COMPONENT_TYPES_IN_FORM = [
      'location',
      'locality',
      'administrative_area_level_1',
      'postal_code',
      'country',
    ];

    function getFormInputElement(componentType) {
      return document.getElementById(`${componentType}-input`);
    }

    function fillInAddress(place) {
      function getComponentName(componentType) {
        for (const component of place.address_components || []) {
          if (component.types[0] === componentType) {
            return SHORT_NAME_ADDRESS_COMPONENT_TYPES.has(componentType) ?
                component.short_name :
                component.long_name;
          }
        }
        return '';
      }

      function getComponentText(componentType) {
        return (componentType === 'location') ?
            `${getComponentName('street_number')} ${getComponentName('route')}` :
            getComponentName(componentType);
      }

      for (const componentType of ADDRESS_COMPONENT_TYPES_IN_FORM) {
        getFormInputElement(componentType).value = getComponentText(componentType);
      }
    }

    function renderAddress(place, map, marker) {
      if (place.geometry && place.geometry.location) {
        map.setCenter(place.geometry.location);
        marker.position = place.geometry.location;
      } else {
        marker.position = null;
      }
    }

    async function initMap() {
      const {Map} = google.maps;
      const {AdvancedMarkerElement} = google.maps.marker;
      const {Autocomplete} = google.maps.places;

      const mapOptions = CONFIGURATION.mapOptions;
      mapOptions.mapId = mapOptions.mapId || 'DEMO_MAP_ID';
      mapOptions.center = mapOptions.center || {lat: 37.4221, lng: -122.0841};

      const map = new Map(document.getElementById('gmp-map'), mapOptions);
      const marker = new AdvancedMarkerElement({map});
      const autocomplete = new Autocomplete(getFormInputElement('location'), {
        fields: ['address_components', 'geometry', 'name'],
        types: ['address'],
      });

      autocomplete.addListener('place_changed', () => {
        const place = autocomplete.getPlace();
        if (!place.geometry) {
          // User entered the name of a Place that was not suggested and
          // pressed the Enter key, or the Place Details request failed.
          window.alert(`No details available for input: '${place.name}'`);
          return;
        }
        renderAddress(place, map, marker);
        fillInAddress(place);
      });
    }
  </script>

<script>
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                // making sure password enters the right characters
                form.elements.validationPassword.addEventListener('keypress', function(event){
                    // console.log("keypress");
                    // console.log("event.which: " + event.which);
                    var checkx = true;
                    var chr = String.fromCharCode(event.which);
                    // console.log("char: " + chr);

                    var matchedCase = new Array();
                    matchedCase.push("[!@#$%&*_?]"); // Special Character
                    matchedCase.push("[A-Z]");      // Uppercase Alphabets
                    matchedCase.push("[0-9]");      // Numbers
                    matchedCase.push("[a-z]");

                    for (var i = 0; i < matchedCase.length; i++) {
                        if (new RegExp(matchedCase[i]).test(chr)) {
                            // console.log("checkx: is true");                    
                            checkx = false;
                        }
                    } 

                    if(form.elements.validationPassword.value.length >= 50)
                        checkx = true;

                    if ( checkx ) {
                        event.preventDefault();
                        event.stopPropagation();      
                    }

                });

                // Validate Password to have more than 8 Characters and A capital Letter, small letter, number, and special character
                // Create an array and push all possible values that you want in the password
                var matchedCase = new Array();
                matchedCase.push("[$@$$!%*#?&]"); // Special Character
                matchedCase.push("[A-Z]");      // Uppercase Alphabets
                matchedCase.push("[0-9]");      // Numbers
                matchedCase.push("[a-z]");     // Lowercase Alphabets

                form.elements.validationPassword.addEventListener('keyup', function(){

                    var messageCase = new Array();
                    messageCase.push(" Special Character"); // Special Character
                    messageCase.push(" Upper Case");      // Uppercase Alphabets
                    messageCase.push(" Numbers");      // Numbers
                    messageCase.push(" Lower Case");     // Lowercase Alphabets

                    var ctr = 0;
                    var rti = "";
                    for (var i = 0; i < matchedCase.length; i++) {
                        if (new RegExp(matchedCase[i]).test(form.elements.validationPassword.value)) {
                            if(i == 0) messageCase.splice(messageCase.indexOf(" Special Character"), 1);
                            if(i == 1) messageCase.splice(messageCase.indexOf(" Upper Case"), 1);
                            if(i == 2) messageCase.splice(messageCase.indexOf(" Numbers"), 1);
                            if(i == 3) messageCase.splice(messageCase.indexOf(" Lower Case"), 1);
                            ctr++;
                        }
                    } 

                    var progressbar = 0;
                    var strength = "";
                    var bClass = "";
                    switch (ctr) {
                        case 0:
                        case 1: 
                            strength = "Way too Weak";
                            progressbar = 15;
                            bClass = "bg-danger";
                            break;
                        case 2:
                            strength = "Very Weak";
                            progressbar = 25;
                            bClass = "bg-danger";
                            break;
                        case 3:
                            strength = "Weak";    
                            progressbar = 34;
                            bClass = "bg-warning";            
                            break;
                        case 4:
                            strength = "Medium";
                            progressbar = 65;
                            bClass = "bg-warning";                        
                            break;
                    }

                    if (strength == "Medium" && form.elements.validationPassword.value.length >= 8 ) {
                        strength = "Strong";
                        bClass = "bg-success";            
                        form.elements.validationPassword.setCustomValidity("");            
                    } else {
                        form.elements.validationPassword.setCustomValidity(strength);
                    }

                    var sometext = "";

                    if(form.elements.validationPassword.value.length < 8 ){
                        var lengthI = 8 - form.elements.validationPassword.value.length;
                        sometext += ` ${lengthI} more Characters, `;
                    } 

                    sometext += messageCase;

                    if(sometext){
                        sometext = " You Need" + sometext;
                    }

                    $("#feedbackin, #feedbackirn").text(strength + sometext);
                    $("#progressbar").removeClass( "bg-danger bg-warning bg-success" ).addClass(bClass);
                    var plength = form.elements.validationPassword.value.length ;
                    if(plength > 0) progressbar += ((plength - 0) * 1.75) ;
                    var  percentage = progressbar + "%";
                    form.elements.validationPassword.parentNode.classList.add('was-validated');
                    $("#progressbar").width( percentage );

                    if(form.elements.validationPassword.checkValidity() === true){
                        form.elements.validationPassword.disabled = false;
                    } else {
                        form.elements.validationPassword.disabled = true;
                    }
                }); 
            });
        }, false);
    })();    
</script>
<script>
    function validateUsername() {
        var username = document.getElementById("username").value;
        if (username.length < 4 || username.length > 20) {
            document.getElementById("username").classList.add("is-invalid");
            document.getElementById("username").classList.remove("is-valid");
            document.getElementById("usernameError").innerHTML = "Please enter a valid username. Username must be between 4 and 20 characters.";
        } else {
            if (/^[a-zA-Z0-9!@#$&_./?]+$/.test(username) != true) {
                document.getElementById("username").classList.add("is-invalid");
                document.getElementById("username").classList.remove("is-valid");
                document.getElementById("usernameError").innerHTML = "Only letters, numbers and Special Characters ( ! @ # $ & _ . / ?) are allowed!";
            } else {
                document.getElementById("username").classList.add("is-valid");
                document.getElementById("username").classList.remove("is-invalid");
                document.getElementById("usernameError").innerHTML = "";
            }
        }
    };
    function validateEmail() {
        var email = document.getElementById("email").value;
        var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        var allowedDomains = ["gmail.com", "yahoo.com", "hotmail.com"];  // Add allowed domains here

        if (emailRegex.test(email)) {
            var emailParts = email.split('@');
            var username = emailParts[0];
            var domain = emailParts[1];

            if (allowedDomains.includes(domain)) {
                if (domain === "gmail.com" && username.length < 6) {
                    alert("Gmail username must be at least 6 characters long.");
                    document.getElementById("email").classList.add("is-invalid");
                    document.getElementById("email").classList.remove("is-valid");
                } else {
                    document.getElementById("email").classList.add("is-valid");
                    document.getElementById("email").classList.remove("is-invalid");
                }
            } else {
                alert("Email domain must be one of the following: " + allowedDomains.join(", "));
                document.getElementById("email").classList.add("is-invalid");
                document.getElementById("email").classList.remove("is-valid");
            }
        } else {
            document.getElementById("email").classList.add("is-invalid");
            document.getElementById("email").classList.remove("is-valid");
        }
    };

    function validateCountry() {
    var country = document.getElementById("country").value;
    if (!country) {
        document.getElementById("country").classList.add("is-invalid");
        document.getElementById("country").classList.remove("is-valid");
    } else {
        document.getElementById("country").classList.add("is-valid");
        document.getElementById("country").classList.remove("is-invalid");
    }
};

function validateState() {
    var state = document.getElementById("state").value;
    if (!state) {
        document.getElementById("state").classList.add("is-invalid");
        document.getElementById("state").classList.remove("is-valid");
    } else {
        document.getElementById("state").classList.add("is-valid");
        document.getElementById("state").classList.remove("is-invalid");
    }
}

function validateCity() {
    var city = document.getElementById("locality-input").value;
    if (!city) {
        document.getElementById("locality-input").classList.add("is-invalid");
        document.getElementById("locality-input").classList.remove("is-valid");
    } else {
        document.getElementById("locality-input").classList.add("is-valid");
        document.getElementById("locality-input").classList.remove("is-invalid");
    }
}

function validateStreetAddress() {
    var streetAddress = document.getElementById("location-input").value;
    if (!streetAddress) {
        document.getElementById("location-input").classList.add("is-invalid");
        document.getElementById("location-input").classList.remove("is-valid");
    } else {
        document.getElementById("location-input").classList.add("is-valid");
        document.getElementById("location-input").classList.remove("is-invalid");
    }
}
function validateLine2Address() {
    var line2Address = document.getElementById("line2address").value;
    if (!line2Address) {
        document.getElementById("line2address").classList.add("is-invalid");
        document.getElementById("line2address").classList.remove("is-valid");
    } else {
        document.getElementById("line2address").classList.add("is-valid");
        document.getElementById("line2address").classList.remove("is-invalid");
    }
}

// document.addEventListener("DOMContentLoaded", function (event) {
function validatePostalCode() {
        var postalCode = document.getElementById("postalCode").value;
        $.getJSON("https://api.postalpincode.in/pincode/" + postalCode, function (data) {
            
            if (data[0].Status === 'Success') {
                document.getElementById("postalCode").classList.add("is-valid");
                document.getElementById("postalCode").classList.remove("is-invalid");
                document.getElementById("postalCodeError").innerHTML = "";
                console.log(data[0].PostOffice[0].State);
                console.log(data[0].PostOffice[0].District);
                console.log(data[0].PostOffice[0].Name);
            } else {
                document.getElementById("postalCode").classList.add("is-invalid");
                document.getElementById("postalCode").classList.remove("is-valid");
                document.getElementById("postalCodeError").innerHTML = "Please enter a valid postal code.";
            }
        })
    }

    // document.getElementById("submit").addEventListener("click", validatePostalCode);
// });
function validatePhone() {
    var phone = document.getElementById("phone").value;
    if (/^(\d+,)*(\d+)$/.test(phone) != true){
        document.getElementById("phone").classList.add("is-invalid");
        document.getElementById("phone").classList.remove("is-valid");
        document.getElementById("phoneError").innerHTML = "Only numbers are allowed!";
        document.getElementById("phone").value = "";
    }
    if ((phone[0] == '6' || phone[0] == '7' || phone[0]  == '8'|| phone[0] == '9')){
        var regex = /^\d{10}$/;
        if (!regex.test(phone)) {
            document.getElementById("phone").classList.add("is-invalid");
            document.getElementById("phone").classList.remove("is-valid");
            document.getElementById("phoneError").innerHTML = "Please enter a valid phone number.";
        } else {
            document.getElementById("phone").classList.add("is-valid");
            document.getElementById("phone").classList.remove("is-invalid");
            document.getElementById("phoneError").innerHTML = "";
        }
} else {
    document.getElementById("phone").classList.add("is-invalid");
    document.getElementById("phone").classList.remove("is-valid");
    document.getElementById("phoneError").innerHTML = "Please enter only numbers!";
    document.getElementById("phone").value = "";
};
};
// document.getElementById("state").addEventListener("change", validateState);
// document.getElementById("city").addEventListener("change", validateCity);
// document.getElementById("streetAddress").addEventListener("change", validateStreetAddress);
// document.getElementById("postalCode").addEventListener("change", validatePostalCode);
// document.getElementById("phone").addEventListener("change", validatePhone);
function validation() {
    const name = document.getElementById("username").value;
    const email = document.getElementById("email").value;
    const password = document.getElementById("validationPassword").value;
    const country = document.getElementById("country").value;
    const state = document.getElementById("state").value;
    const city = document.getElementById("locality-input").value;
    const streetAddress = document.getElementById("location-input").value;
    const line2address = document.getElementById("line2address").value;
    const postalCode = document.getElementById("postalCode").value;
    const role = document.getElementById("role").value;
    const phone = document.getElementById("phone").value;
    
    if (!name || !email || !password || !country || !state || !city || !streetAddress || !line2address || !postalCode || !role || !phone) {
        event.preventDefault(); // Prevent form submission
        if (!name) {
            document.getElementById("username").classList.add("is-invalid");
        }
        if (!email) {
            document.getElementById("email").classList.add("is-invalid");
        }
        if (!country) {
            document.getElementById("country").classList.add("is-invalid");
        }
        if (!state) {
            document.getElementById("state").classList.add("is-invalid");
        }
        if (!city) {
            document.getElementById("locality-input").classList.add("is-invalid");
        }
        if (!streetAddress) {
            document.getElementById("location-input").classList.add("is-invalid");
        }
        if (!line2address) {
            document.getElementById("line2address").classList.add("is-invalid");
        }
        if (!postalCode) {
            document.getElementById("postalCode").classList.add("is-invalid");
        }
        if (!role) {
            document.getElementById("role").classList.add("is-invalid");
        }
        if (!phone) {
            document.getElementById("phone").classList.add("is-invalid");
        }
    }
    if (name || email || password || country || state || city || streetAddress || line2address || postalCode || role || phone) {
        if (name) {
            document.getElementById("username").classList.add("is-valid");
        }
        if (email) {
            document.getElementById("email").classList.add("is-valid");
        }
        if (password) {
            document.getElementById("validationPassword").classList.add("is-valid");
        }
        if (country) {
            document.getElementById("country").classList.add("is-valid");
        }
        if (state) {
            document.getElementById("state").classList.add("is-valid");
        }
        if (city) {
            document.getElementById("locality-input").classList.add("is-valid");
        }
        if (streetAddress) {
            document.getElementById("location-input").classList.add("is-valid");
        }
        if (line2address) {
            document.getElementById("line2address").classList.add("is-valid");
        }
        if (postalCode) {
            document.getElementById("postalCode").classList.add("is-valid");
        }
        if (role) {
            document.getElementById("role").classList.add("is-valid");
        }
        if (phone) {
            document.getElementById("phone").classList.add("is-valid");
        }

        if (name == "" || email == "" || password == "" || postalCode == "" || phone == "") {
            alert("Please fill in all fields and agree to the terms and conditions.");
            return false;
        }
        return true;

    }
};
</script>

<script>
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                // making sure password enters the right characters
                form.validationPassword.addEventListener('keypress', function(event){
                    // console.log("keypress");
                    // console.log("event.which: " + event.which);
                    var checkx = true;
                    var chr = String.fromCharCode(event.which);
                    // console.log("char: " + chr);

                    var matchedCase = new Array();
                    matchedCase.push("[!@#$%&*_?]"); // Special Character
                    matchedCase.push("[A-Z]");      // Uppercase Alphabets
                    matchedCase.push("[0-9]");      // Numbers
                    matchedCase.push("[a-z]");

                    for (var i = 0; i < matchedCase.length; i++) {
                        if (new RegExp(matchedCase[i]).test(chr)) {
                            // console.log("checkx: is true");                    
                            checkx = false;
                        }
                    } 

                    if(form.validationPassword.value.length >= 50)
                        checkx = true;

                        if ( checkx ) {
                            event.preventDefault();
                            event.stopPropagation();      
                        }

                });

                // Validate Password to have more than 8 Characters and A capital Letter, small letter, number, and special character
                // Create an array and push all possible values that you want in the password
                var matchedCase = new Array();
                matchedCase.push("[$@$$!%*#?&]"); // Special Character
                matchedCase.push("[A-Z]");      // Uppercase Alphabets
                matchedCase.push("[0-9]");      // Numbers
                matchedCase.push("[a-z]");     // Lowercase Alphabets

                form.validationPassword.addEventListener('keyup', function(){

                    var messageCase = new Array();
                    messageCase.push(" Special Character"); // Special Character
                    messageCase.push(" Upper Case");      // Uppercase Alphabets
                    messageCase.push(" Numbers");      // Numbers
                    messageCase.push(" Lower Case");     // Lowercase Alphabets

                    var ctr = 0;
                    var rti = "";
                    for (var i = 0; i < matchedCase.length; i++) {
                        if (new RegExp(matchedCase[i]).test(form.validationPassword.value)) {
                            if(i == 0) messageCase.splice(messageCase.indexOf(" Special Character"), 1);
                            if(i == 1) messageCase.splice(messageCase.indexOf(" Upper Case"), 1);
                            if(i == 2) messageCase.splice(messageCase.indexOf(" Numbers"), 1);
                            if(i == 3) messageCase.splice(messageCase.indexOf(" Lower Case"), 1);
                            ctr++;
                        }
                    } 

                    var progressbar = 0;
                    var strength = "";
                    var bClass = "";
                    switch (ctr) {
                        case 0:
                        case 1: 
                            strength = "Way too Weak";
                            progressbar = 15;
                            bClass = "bg-danger";
                            break;
                        case 2:
                            strength = "Very Weak";
                            progressbar = 25;
                            bClass = "bg-danger";
                            break;
                        case 3:
                            strength = "Weak";    
                            progressbar = 34;
                            bClass = "bg-warning";            
                            break;
                        case 4:
                            strength = "Medium";
                            progressbar = 65;
                            bClass = "bg-warning";                        
                            break;
                    }

                    if (strength == "Medium" && form.validationPassword.value.length >= 8 ) {
                        strength = "Strong";
                        bClass = "bg-success";            
                        form.validationPassword.setCustomValidity("");            
                    } else {
                        form.validationPassword.setCustomValidity(strength);
                    }

                    var sometext = "";

                    if(form.validationPassword.value.length < 8 ){
                        var lengthI = 8 - form.validationPassword.value.length;
                        sometext += ` ${lengthI} more Characters, `;
                    } 

                    sometext += messageCase;

                    if(sometext){
                        sometext = " You Need" + sometext;
                    }

                    $("#feedbackin, #feedbackirn").text(strength + sometext);
                    $("#progressbar").removeClass( "bg-danger bg-warning bg-success" ).addClass(bClass);
                    var plength = form.validationPassword.value.length ;
                    if(plength > 4) progressbar += ((plength - 0) * 1.75) ;
                    var  percentage = progressbar + "%";
                    form.validationPassword.parentNode.classList.add('was-validated');
                    $("#progressbar").width( percentage );

                    if(form.validationPassword.checkValidity() === true){
                        form.validationPassword.disabled = false;
                    } else {
                        form.validationPassword.disabled = true;
                    }
                }); 
            });
        }, false);
    })();    
</script>

<script>
    $.ajax({
        method: "GET",
        url: "https://www.universal-tutorial.com/api/getaccesstoken",
        headers: {
            "Accept": "application/json",
            "api-token": "{{UT_API}}",
            "user-email": "{{UT_EMAIL}}"
        },
        success: function (response) {
            var authToken = response.auth_token;

            $.ajax({
                method: "GET",
                url: "https://www.universal-tutorial.com/api/countries/",
                headers: {
                    "Authorization": "Bearer " + authToken,
                    "Accept": "application/json"
                },
                success: function (response) {
                    var countries = response;
                    // Populate country dropdown
                    var countryDropdown = document.getElementById('country');
                    countries.forEach(function (country) {
                        var option = document.createElement('option');
                        option.text = country.country_name;
                        option.value = country.country_name;
                        countryDropdown.add(option);
                    });

                    countryDropdown.addEventListener('change', function () {
                        var selectedCountry = this.value;

                        $.ajax({
                            method: "GET",
                            url: "https://www.universal-tutorial.com/api/states/" + selectedCountry,
                            headers: {
                                "Authorization": "Bearer " + authToken,
                                "Accept": "application/json"
                            },
                            success: function (response) {
                                var states = response;
                                // Populate state dropdown
                                var stateDropdown = document.getElementById('state');
                                stateDropdown.innerHTML = ''; // Clear previous options
                                states.forEach(function (state) {
                                    var option = document.createElement('option');
                                    option.text = state.state_name;
                                    option.value = state.state_name;
                                    stateDropdown.add(option);
                                });

                                // Add event listener to state dropdown
                                stateDropdown.addEventListener('change', function () {
                                    var selectedState = this.value;

                                    $.ajax({
                                        method: "GET",
                                        url: "https://www.universal-tutorial.com/api/cities/" + selectedState,
                                        headers: {
                                            "Authorization": "Bearer " + authToken,
                                            "Accept": "application/json"
                                        }
                                    });
                                });
                            }
                        });
                    });
                }
            });
        }
    });
</script>


{% endblock javascripts %}
